{% extends 'base.html.twig' %}
{% block body %}
    <!-- Revolution Slider -->
    <section>
        <div class="rev_slider_wrapper" data-alias="youtube-hero">
            <div class="rev_slider" id="slider3" data-version="5.0">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-fstransition="fade"
                        data-transition="zoomout"
                        data-easein="default"
                        data-easeout="default"
                        data-slotamount="1"
                        data-masterspeed="1200"
                        data-delay="8000"
                        data-title=""
                    >
                        <!-- MAIN IMAGE -->
                        <img src="img/video_bg.jpg"
                             alt=""
                             data-bgrepeat="no-repeat"
                             data-bgfit="cover"
                             data-bgparallax="7"
                             class="rev-slidebg"
                        >
                        {#<video class="video-banner embed-responsive" autoplay="" loop="">#}
                        {#<source src="http://images.henandstag.co.za/bundles/framework/css/hsp/bachelor-hen-party.webm" type="video/webm">#}
                        {#<source src="http://images.henandstag.co.za/bundles/framework/css/hs1p/bachelor-hen-party.mp4" type="video/mp4">#}
                        {#</video>#}

                        <!-- BACKGROUND VIDEO LAYER -->
                        <div class="rs-background-video-layer"
                             data-forcerewind="on"
                             data-volume="mute"
                             data-ytid="-D-4slDCpQM"
                             data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;ref=0;;origin={{ app.request.schemeAndHttpHost }};"
                             data-videowidth="100%"
                             data-videoheight="100%"
                             data-videocontrols="none"
                             data-videostartat="00:00"
                             data-videoendat="05:02"
                             data-videoloop="loop"
                             data-forceCover="1"
                             data-aspectratio="16:9"
                             data-autoplay="true"
                             data-autoplayonlyfirsttime="false"
                             data-nextslideatend="true"
                        ></div>

                        <!-- OVERLAY LAYER -->
                        <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="full"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="s:300;s:300;"
                             data-start="750"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);">
                        </div>

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption hero-text nocaps rs-parallaxlevel-3"
                             data-x="center"
                             data-y="center"
                             data-voffset="-60"
                             data-fontsize="[100,90,80,70]"
                             data-transform_idle="o:1;s:1500;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.1;sY:0.1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;"
                             data-transform_out="opacity:0;sX:0;sY:0;s:2000;e:Power3.easeInOut;"
                             data-start="1000"
                             style="z-index: 6;">Bachelor and Hen Party Packages

                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption hero-text nocaps rs-parallaxlevel-3"
                             data-x="center"
                             data-y="center"
                             data-voffset="24"
                             data-fontsize="20"
                             data-transform_idle="o:1;s:1000"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:1000;"
                             data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                             data-start="1200"
                             style="z-index: 7;">Hen and Stag™ is the leading South African event organiser specialising
                            in activities, accommodation and parties
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption hero-text nocaps rs-parallaxlevel-3"
                             data-x="center"
                             data-y="center"
                             data-voffset="24"
                             data-fontsize="20"
                             data-transform_idle="o:1;s:1000"
                             data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:1000;"
                             data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                             data-start="1200"
                             style="z-index: 7;">
                            <div class="buttons-holder">
                                <a href="#" class="btn btn-lg btn-white">Enquire Now</a>
                            </div>
                        </div>

                    </li> <!-- end slide 1 -->

                </ul>

                {#<div class="buttons-holder">#}
                    {#<a href="#" class="btn btn-lg btn-white">Enquire Now</a>#}
                {#</div>#}
                <div class="local-scroll">
                    <a href="#reason-to-use-us" class="scroll-down">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- Our Services -->
    <section class="section-wrap-mp services style-2 pb-40 pb-mdm-50" id="reason-to-use-us">
        <div class="container">
            <div class="row heading">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="text-center">Reason to use us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 service-item">
                    <a href="#">
                        <i class="icon icon-DesktopMonitor"></i>
                    </a>
                    <div class="service-item-box">
                        <h3>Great Design</h3>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core
                            principles of effective websites.</p>
                    </div>
                </div> <!-- end service item -->

                <div class="col-md-4 service-item">
                    <a href="#">
                        <i class="icon icon-Layers"></i>
                    </a>
                    <div class="service-item-box">
                        <h3>Perfect Coding</h3>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core
                            principles of effective websites.</p>
                    </div>
                </div> <!-- end service item -->

                <div class="col-md-4 service-item">
                    <a href="#">
                        <i class="icon icon-Eye"></i>
                    </a>
                    <div class="service-item-box">
                        <h3>Retina Ready</h3>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core
                            principles of effective websites.</p>
                    </div>
                </div> <!-- end service item -->

                <div class="col-md-4 service-item">
                    <a href="#">
                        <i class="icon icon-User"></i>
                    </a>
                    <div class="service-item-box">
                        <h3>5 Star Support</h3>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core
                            principles of effective websites.</p>
                    </div>
                </div> <!-- end service item -->

                <div class="col-md-4 service-item">
                    <a href="#">
                        <i class="icon icon-Settings"></i>
                    </a>
                    <div class="service-item-box">
                        <h3>Easy to Customize</h3>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core
                            principles of effective websites.</p>
                    </div>
                </div> <!-- end service item -->

                <div class="col-md-4 service-item">
                    <a href="#">
                        <i class="icon icon-Timer"></i>
                    </a>
                    <div class="service-item-box">
                        <h3>Fast Loading</h3>
                        <p>Our web design team will spend time with our digital marketing team to ensure the core
                            principles of effective websites.</p>
                    </div>
                </div> <!-- end service item -->

            </div>
        </div>
    </section> <!-- end services -->

    <!-- From Blog -->
    <section class="section-wrap bg-light from-blog" id="blog">
        <div class="container">

            <div class="row heading">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="text-center">Our activities</h2>
                </div>
            </div>

            <div class="container">

                <div class="row">

                    <div class="owl-theme">

                        <div class="col-md-6">
                            <div class="blog-col">
                                <div class="entry-img">
                                    <a href="blog-single.html">
                                        <img src="{{ asset('images/home/men-smoking-cigar-whiskey_570_400.jpg') }}"
                                             alt="">
                                    </a>
                                </div>
                                <div class="entry-box">
                                    <div class="entry-title">
                                        <h4><a href="blog-single.html">Hen Party</a></h4>
                                    </div>
                                    <div class="entry-content">
                                        <p>If you are looking for a lavish hen do night or rather a great bargain deal
                                            party package then you'll find it here. Hen night planning and ideas for hen
                                            party venues</p>
                                        <a href="blog-single.html" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div> <!-- end post -->
                        </div>

                        <div class="col-md-6">

                            <div class="blog-col last">
                                <div class="entry-img">
                                    <a href="blog-single.html">
                                        <img src="{{ asset('images/home/girls-drinking-cocktails_570_400.jpg') }}"
                                             alt="">
                                    </a>
                                </div>
                                <div class="entry-box">
                                    <div class="entry-title">
                                        <h4><a href="blog-single.html">Stag Party</a></h4>
                                    </div>
                                    <div class="entry-content">
                                        <p>For adrenaline fueled day time activities to weekend party packages. We can
                                            help to organise an unforgettable bachelor party.</p>
                                        <br>
                                        <a href="blog-single.html" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end post -->

                    </div>

                </div> <!-- end row -->
            </div>
        </div>
    </section> <!-- end from blog -->
{% endblock %}
