<!-- Page Title -->
<section class="page-title text-center" style="background-image: url({{ bgImage }});">
    <div class="container relative clearfix">
        <div class="title-holder">
            <div class="title-text">
                <h1 class="color-white heading-frame">{{ title }}</h1>
            </div>
        </div>
    </div>
</section> <!-- end page title -->
