.buttons-holder {
    z-index: 6;
    position: relative;
    text-align: center;
    margin-top: 300px;
}

@media (max-width: 767px) {
    .blog-col {
        margin-bottom: 40px;
    }
}

/* Makes the background image full screen */
.full-bg-image {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Make images grow on hover over*/
.image-thumb img:hover {
    transform: scale(1.1);
}
.thumbnail {
    overflow: hidden;
}
img {
    transition: all 0.3s ease 0s;
    width: 100%;
}

